.htaccess
/index.php
/wp-config.php

*.remote
*.bak
*.tar.bz2

vendor

wordpress
wp-content/uploads/*

wp-content/plugins/*
!wp-content/plugins/vimeo-video-post-updater

wp-content/themes/kingsize

wp
wp-content/themes/emc-kingsize-child/svg/social/
wp-content/themes/emc-kingsize-child/img/home*
wp-config.common.php
wp-content/remote-plugins/
